set_io clk P7
set_io rst_n P8
set_io hsync M1
set_io vsync J1
set_io hblank G1
set_io vblank E1
set_io write_en C1
set_io rgb[0] L1
set_io rgb[1] J3
set_io rgb[2] G3
set_io rgb[3] D1
set_io rgb[4] B1
set_io rgb[5] C3
set_io write_address[0] A6
set_io write_address[1] A10
set_io write_address[2] C9
set_io write_address[3] A12
set_io write_address[4] C14
set_io write_address[5] E14
set_io write_address[6] F14
set_io write_address[7] H12
set_io write_address[8] A7
set_io write_address[9] A11
set_io write_address[10] C10
set_io write_address[11] B14
set_io write_address[12] D14
set_io write_address[13] E12
set_io write_address[14] G14
set_io write_data[0] C6
set_io write_data[1] D6
set_io write_data[2] D9
set_io write_data[3] C11
set_io write_data[2] D11
set_io write_data[3] E11
