set_io clk P7
set_io rst_n P8
set_io debug[0] P4
set_io debug[1] L6
set_io port_enb H1
set_io port_rw F4
set_io port_clk H4
set_io port_address[0] A7
set_io port_address[1] A11
set_io port_address[2] C10
set_io port_address[3] B14
set_io port_address[4] D14
set_io port_address[5] E12
set_io port_address[6] G14
set_io port_address[7] J12
set_io port_address[8] A6
set_io port_address[9] A10
set_io port_address[10] C9
set_io port_address[11] A12
set_io port_address[12] C14
set_io port_address[13] E14
set_io port_address[14] F14
set_io port_address[15] H12
set_io port_data[0] C7
set_io port_data[1] D7
set_io port_data[2] D10
set_io port_data[3] C12
set_io port_data[4] D12
set_io port_data[5] F11
set_io port_data[6] G12
set_io port_data[7] H11
set_io port_dmab N1
set_io port_data_rw D4
set_io port_nmib K3
set_io hsync A1
set_io vsync A3
set_io hblank A2
set_io vblank A4
set_io rgb[0] M1
set_io rgb[1] J1
set_io rgb[2] G1
set_io rgb[3] E1
set_io rgb[4] C1
set_io rgb[5] D3
