set_location IN_MUX_bfv_23_17_0_ 23 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_23_18_0_ 23 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_21_0_ 12 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_22_0_ 12 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_18_0_ 14 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_21_0_ 24 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_24_22_0_ 24 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_21_20_0_ 21 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_21_21_0_ 21 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_19_0_ 9 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_16_19_0_ 16 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_17_0_ 7 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_24_0_ 9 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_25_0_ 9 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_23_0_ 26 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_26_24_0_ 26 24 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 19 16 0 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_9_THRU_LUT4_0 23 18 2 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_8_THRU_LUT4_0 23 18 1 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_7_THRU_LUT4_0 23 18 0 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_6_THRU_LUT4_0 23 17 7 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_5_THRU_LUT4_0 23 17 6 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_4_THRU_LUT4_0 23 17 5 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_3_THRU_LUT4_0 23 17 4 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_2_THRU_LUT4_0 23 17 3 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_1_THRU_LUT4_0 23 17 2 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_11_THRU_LUT4_0 23 18 4 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_10_THRU_LUT4_0 23 18 3 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_0_THRU_LUT4_0 23 17 1 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_5_s1_THRU_LUT4_0 14 18 6 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_4_s1_THRU_LUT4_0 14 18 5 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_3_s1_THRU_LUT4_0 14 18 4 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_2_s1_THRU_LUT4_0 14 18 3 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_1_s1_THRU_LUT4_0 14 18 2 #SB_LUT4
set_location this_ppu.un1_M_count_q_1_cry_0_s1_THRU_LUT4_0 14 18 1 #SB_LUT4
set_location M_this_external_address_q_cry_13_THRU_LUT4_0 26 24 6 #SB_LUT4
set_location M_this_external_address_q_cry_12_THRU_LUT4_0 26 24 5 #SB_LUT4
set_location M_this_external_address_q_cry_11_THRU_LUT4_0 26 24 4 #SB_LUT4
set_location M_this_data_count_q_cry_9_THRU_LUT4_0 24 22 2 #SB_LUT4
set_location M_this_data_count_q_cry_6_THRU_LUT4_0 24 21 7 #SB_LUT4
set_location M_this_data_count_q_cry_4_THRU_LUT4_0 24 21 5 #SB_LUT4
set_location M_this_data_count_q_cry_3_THRU_LUT4_0 24 21 4 #SB_LUT4
set_location M_this_data_count_q_cry_2_THRU_LUT4_0 24 21 3 #SB_LUT4
set_location M_this_data_count_q_cry_12_THRU_LUT4_0 24 22 5 #SB_LUT4
set_location M_this_data_count_q_cry_1_THRU_LUT4_0 24 21 2 #SB_LUT4
set_location M_this_data_count_q_cry_0_THRU_LUT4_0 24 21 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_8_THRU_LUT4_0 21 21 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_8_THRU_LUT4_0 21 21 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_8_rep1_esr_THRU_LUT4_0 21 21 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_7_THRU_LUT4_0 21 23 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_7_THRU_LUT4_0 20 21 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_7_rep1_esr_THRU_LUT4_0 20 21 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_6_THRU_LUT4_0 21 23 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_6_THRU_LUT4_0 19 20 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_6_rep1_esr_THRU_LUT4_0 19 21 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_5_THRU_LUT4_0 19 22 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_5_THRU_LUT4_0 19 22 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_THRU_LUT4_0 19 22 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_4_THRU_LUT4_0 20 22 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_4_THRU_LUT4_0 19 25 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_THRU_LUT4_0 19 21 3 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_RNIC95C3_this_vga_signals.M_pcounter_q_0_e_0_REP_LUT4_0 12 23 0 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_0_RNIIQFU3_1_this_vga_signals.M_pcounter_q_0_1_REP_LUT4_0 11 23 7 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNIAUKV3_0_this_ppu.line_clk.M_last_q_REP_LUT4_0 14 21 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIUCR11_M_this_state_q_17_REP_LUT4_0 16 15 0 #SB_LUT4
set_location this_ppu.M_state_q_5_THRU_LUT4_0 13 20 7 #SB_LUT4
set_location this_ppu.M_state_q_3_THRU_LUT4_0 15 30 2 #SB_LUT4
set_location this_delay_clk.M_pipe_q_4_THRU_LUT4_0 21 18 2 #SB_LUT4
set_location this_delay_clk.M_pipe_q_3_THRU_LUT4_0 17 18 4 #SB_LUT4
set_location this_delay_clk.M_pipe_q_2_THRU_LUT4_0 6 19 2 #SB_LUT4
set_location this_delay_clk.M_pipe_q_1_THRU_LUT4_0 6 19 0 #SB_LUT4
set_location this_delay_clk.M_pipe_q_0_THRU_LUT4_0 6 20 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_9_THRU_LUT4_0 12 17 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_8_THRU_LUT4_0 10 16 0 #SB_LUT4
set_location M_this_data_tmp_q_esr_7_THRU_LUT4_0 11 17 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_6_THRU_LUT4_0 13 18 1 #SB_LUT4
set_location M_this_data_tmp_q_esr_5_THRU_LUT4_0 12 16 1 #SB_LUT4
set_location M_this_data_tmp_q_esr_4_THRU_LUT4_0 11 17 5 #SB_LUT4
set_location M_this_data_tmp_q_esr_31_THRU_LUT4_0 11 18 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_30_THRU_LUT4_0 11 16 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_3_THRU_LUT4_0 11 17 1 #SB_LUT4
set_location M_this_data_tmp_q_esr_29_THRU_LUT4_0 12 15 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_28_THRU_LUT4_0 11 18 7 #SB_LUT4
set_location M_this_data_tmp_q_esr_27_THRU_LUT4_0 11 16 1 #SB_LUT4
set_location M_this_data_tmp_q_esr_26_THRU_LUT4_0 7 18 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_25_THRU_LUT4_0 11 18 0 #SB_LUT4
set_location M_this_data_tmp_q_esr_24_THRU_LUT4_0 13 17 0 #SB_LUT4
set_location M_this_data_tmp_q_esr_23_THRU_LUT4_0 10 19 7 #SB_LUT4
set_location M_this_data_tmp_q_esr_22_THRU_LUT4_0 10 19 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_21_THRU_LUT4_0 10 19 5 #SB_LUT4
set_location M_this_data_tmp_q_esr_20_THRU_LUT4_0 10 19 4 #SB_LUT4
set_location M_this_data_tmp_q_esr_2_THRU_LUT4_0 11 17 4 #SB_LUT4
set_location M_this_data_tmp_q_esr_19_THRU_LUT4_0 10 19 3 #SB_LUT4
set_location M_this_data_tmp_q_esr_18_THRU_LUT4_0 10 19 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_17_THRU_LUT4_0 15 17 4 #SB_LUT4
set_location M_this_data_tmp_q_esr_16_THRU_LUT4_0 10 19 0 #SB_LUT4
set_location M_this_data_tmp_q_esr_15_THRU_LUT4_0 10 15 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_14_THRU_LUT4_0 11 15 5 #SB_LUT4
set_location M_this_data_tmp_q_esr_13_THRU_LUT4_0 12 17 3 #SB_LUT4
set_location M_this_data_tmp_q_esr_12_THRU_LUT4_0 12 17 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_11_THRU_LUT4_0 10 16 6 #SB_LUT4
set_location M_this_data_tmp_q_esr_10_THRU_LUT4_0 15 16 2 #SB_LUT4
set_location M_this_data_tmp_q_esr_1_THRU_LUT4_0 13 16 4 #SB_LUT4
set_location M_this_data_tmp_q_esr_0_THRU_LUT4_0 12 18 0 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_9_c 23 18 1 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_8_c 23 18 0 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_7_c 23 17 7 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_6_c 23 17 6 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_5_c 23 17 5 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_4_c 23 17 4 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_3_c 23 17 3 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_2_c 23 17 2 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_1_c 23 17 1 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_12_c 23 18 4 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_11_c 23 18 3 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_10_c 23 18 2 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_0_c 23 17 0 #SB_CARRY
set_location un1_M_this_oam_address_q_cry_4_c 7 17 4 #SB_CARRY
set_location un1_M_this_oam_address_q_cry_3_c 7 17 3 #SB_CARRY
set_location un1_M_this_oam_address_q_cry_2_c 7 17 2 #SB_CARRY
set_location un1_M_this_oam_address_q_cry_1_c 7 17 1 #SB_CARRY
set_location un1_M_this_oam_address_q_cry_0_c 7 17 0 #SB_CARRY
set_location un1_M_this_map_address_q_cry_8_c 9 25 0 #SB_CARRY
set_location un1_M_this_map_address_q_cry_7_c 9 24 7 #SB_CARRY
set_location un1_M_this_map_address_q_cry_6_c 9 24 6 #SB_CARRY
set_location un1_M_this_map_address_q_cry_5_c 9 24 5 #SB_CARRY
set_location un1_M_this_map_address_q_cry_4_c 9 24 4 #SB_CARRY
set_location un1_M_this_map_address_q_cry_3_c 9 24 3 #SB_CARRY
set_location un1_M_this_map_address_q_cry_2_c 9 24 2 #SB_CARRY
set_location un1_M_this_map_address_q_cry_1_c 9 24 1 #SB_CARRY
set_location un1_M_this_map_address_q_cry_0_c 9 24 0 #SB_CARRY
set_location this_vram.mem_mem_0_0 8 29 0 #SB_RAM40_4K
set_location this_vga_signals.un5_vaddress.if_m8_0_x4 18 24 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m8_0_m2 17 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m4 18 21 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m2_3_1 17 22 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m2 9 20 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m1_9_0 17 22 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m1_0 17 22 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un75_sum_axb1_1 18 22 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc3 17 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_c2 17 22 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_axbxc3_1_0 17 22 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_axbxc3_1 17 22 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_axb2_0 18 22 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_axb1_0 17 23 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_d 18 22 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_c_a0_2 18 21 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_c_a0_0 19 20 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_0_3 18 21 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_0_2_1 18 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_0_2 18 21 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_0 18 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axbxc3_1_2 19 23 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axbxc3_1 18 23 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axbxc1 18 22 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axb2 18 24 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axb1_s_a0 17 24 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axb1 18 24 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_4_x1 19 23 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_4_x0 19 24 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_4_ns 18 23 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_3_0 18 23 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_2 19 24 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_1 19 23 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un47_sum_axbxc3_2_1 19 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un47_sum_axbxc3_2 19 23 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un47_sum_axbxc3_0_a4 19 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un47_sum_axbxc1_0 19 24 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un47_sum_ac0_3 19 23 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_axb1 20 22 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_602_x1 20 22 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_602_x0 20 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_602_ns 19 22 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_601 21 22 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_a1_x1 20 22 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_a1_x0 20 22 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_a1_ns 20 22 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_3_x1 20 23 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_3_ns 19 23 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3 19 23 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g4 16 23 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_4 18 25 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_1_0 19 22 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_1 20 23 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_0 18 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_6 19 24 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_2 18 24 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_0 17 23 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1 18 23 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_x4_1 17 24 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_x4 20 23 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_o2_3 17 24 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_o2_2 16 23 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_o2_1 17 23 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_o2 17 23 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_a3 16 23 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_9_N_3L3 17 24 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_9_N_2L1 17 24 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_9 17 24 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_8 16 23 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_6_1 20 23 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5_1 19 20 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5_0 19 21 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5 16 22 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_4_i_o3_1 20 21 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_4_i_a3_1_0 20 21 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_4_i_1 20 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_4_i 20 21 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_4 17 23 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3_0_a3_3 18 24 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3_0_a3_1 20 24 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3_0_a3 17 23 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3 20 23 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_28 18 23 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_26 20 23 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_25 18 23 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_24 19 20 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_23 20 21 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_22 20 20 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_21 19 20 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_2 18 22 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_1_1 19 20 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_1_0 19 20 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_19 18 22 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_17 21 22 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_16 19 23 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_13 16 23 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_12 18 22 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_11 17 21 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_10_1 18 23 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_10 17 23 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_1 16 22 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_x4 19 20 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_m2 18 25 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0 18 22 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0 16 22 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m4 11 20 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m2_2 11 20 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m2_0 10 21 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un89_sum_axbxc3_2 11 21 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un89_sum_ac0_3_0 11 21 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_c2 11 20 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_axbxc3_2 10 20 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_axbxc3 11 21 7 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_axb1 11 21 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_ac0_3 11 20 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axbxc3_0 10 21 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axbxc3 11 20 4 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_c3 10 21 4 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3_3_1 11 21 0 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3_3 11 21 1 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3 11 20 1 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axb1 10 21 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2_1_1 11 22 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2 11 22 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axb1 11 22 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un54_sum_c3 11 22 0 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_8_c 21 21 0 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_7_c_RNIRHSH 21 21 0 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_7_c 21 20 7 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_6_c_RNIPERH 21 20 7 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_6_c 21 20 6 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_5_c_RNINBQH 21 20 6 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_5_c 21 20 5 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_4_c_RNIL8PH 21 20 5 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_4_c 21 20 4 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_3_c_RNIJ5OH 21 20 4 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_3_c 21 20 3 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_2_c 21 20 2 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_1_c 21 20 1 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_0_c 21 20 0 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_8_c 12 21 7 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_7_c 12 21 6 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_6_c 12 21 5 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_5_c 12 21 4 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_4_c 12 21 3 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_3_c 12 21 2 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_2_c 12 21 1 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_1_c 12 21 0 #SB_CARRY
set_location this_vga_signals.M_vcounter_q_fast_esr_RNIOJB1[4] 20 22 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr[8] 21 21 3 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[7] 21 23 6 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[6] 21 23 0 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[5] 19 22 5 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[4] 20 22 0 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr_RNO[9] 21 21 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNISDV89[4] 18 24 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIROQM[8] 21 22 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIPE977[9] 16 21 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIOLTE3[6] 21 24 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIMHLD1[8] 15 23 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNILIQM[5] 19 22 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNILIQM_0[5] 21 24 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIIQJ31[8] 16 23 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIIQJ31_0[8] 18 24 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIHT721[5] 20 24 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIHT721_0[5] 20 23 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIGN2J3[9] 15 22 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIGN2J3_0[9] 5 27 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIGB2A6[6] 14 22 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIFPFL6[9] 15 21 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIE9LD1[7] 18 26 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNICM2P1[5] 16 22 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI9AJQ2[5] 15 21 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI8O063[8] 15 21 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI4KCU6[9] 15 21 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI3HRS3[8] 15 21 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI0JAO7[9] 5 15 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr[9] 21 21 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[8] 21 21 2 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[7] 20 21 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[6] 19 20 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[5] 19 22 3 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[4] 19 25 3 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_RNO[3] 21 20 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[2] 21 20 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[1] 21 20 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[0] 21 20 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIVGRQM1[1] 17 23 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIRT8S[0] 15 21 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIRPN94A[2] 17 21 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIOP5EV51[1] 17 22 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIKLMK17[2] 17 21 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIKL00E1[2] 18 21 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIDON0D8[3] 17 21 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNICVQL1[1] 21 24 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIBALLEF[2] 17 22 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNI75QSCH1[2] 17 21 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNI3KH3P1[1] 16 22 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_8_rep1_esr 21 21 4 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_7_rep1_esr_RNIEC471 20 22 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_7_rep1_esr 20 21 6 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_6_rep1_esr 19 21 5 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIHKHB 20 23 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIDVUM 19 24 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIBS0H 19 21 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNI6FO86 19 24 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr 19 22 7 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_RNIILO32 15 21 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr 19 21 3 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q[3] 21 20 3 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[2] 21 20 2 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[1] 21 20 1 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[0] 21 20 0 #SB_DFFSR
set_location this_vga_signals.M_pcounter_q_ret_RNO 11 23 2 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_RNIC95C3 11 23 4 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_2_RNO 10 23 7 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_2 10 23 7 #SB_DFF
set_location this_vga_signals.M_pcounter_q_ret 11 23 2 #SB_DFF
set_location this_vga_signals.M_pcounter_q_0_e_RNIR5V44[0] 10 23 1 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_0_e[0] 12 23 0 #SB_DFFE
set_location this_vga_signals.M_pcounter_q_0_RNIIQFU3[1] 10 23 6 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_0[1] 11 23 7 #SB_DFF
set_location this_vga_signals.M_lcounter_q_RNO[1] 14 21 7 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNO_0[1] 14 21 6 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNO_0[0] 14 20 4 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNO[0] 14 20 5 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNIAUKV3[0] 14 20 1 #SB_LUT4
set_location this_vga_signals.M_lcounter_q[1] 14 21 7 #SB_DFF
set_location this_vga_signals.M_lcounter_q[0] 14 20 5 #SB_DFF
set_location this_vga_signals.M_hcounter_q_esr_RNO[9] 12 22 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNO_0[9] 13 22 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIU8TO[9] 11 24 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIT1827[9] 9 28 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIML464[9] 11 25 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIMF36L[9] 11 26 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIHL0E5[9] 11 26 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIE00C4[9] 12 26 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIC8KO2[9] 13 22 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI946123[9] 9 22 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI7CFM8[9] 9 29 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI6DOUP9[9] 11 21 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021[9] 11 25 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021_1[9] 11 22 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021_0[9] 11 22 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI0MGR61[9] 9 28 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr[9] 12 22 0 #SB_DFFESR
set_location this_vga_signals.M_hcounter_q_RNO[8] 12 21 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[7] 12 21 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[6] 12 21 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[5] 12 21 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[4] 12 21 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[3] 12 21 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[2] 12 21 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[1] 13 23 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[0] 13 23 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIUULS4[3] 10 21 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIOC7D3[6] 11 24 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIEVMV1[5] 13 22 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIB0ACH[2] 11 20 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIADGD1[5] 11 24 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNI9JJM1[0] 11 24 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNI3O9R[1] 11 23 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNI2UC41[0] 13 22 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q[8] 12 21 7 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[7] 12 21 6 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[6] 12 21 5 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[5] 12 21 4 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[4] 12 21 3 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[3] 12 21 2 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[2] 12 21 1 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[1] 13 23 3 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[0] 13 23 2 #SB_DFFSR
set_location this_vga_ramdac.M_this_rgb_q_ret_RNO 9 26 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_q_ret 9 26 5 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[5] 10 25 2 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[4] 10 23 3 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[3] 10 25 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[2] 9 23 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[1] 10 23 4 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[0] 10 23 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIS3FH[5] 9 27 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIR2FH[4] 7 26 2 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIQ1FH[3] 7 25 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIP0FH[2] 6 20 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIOVEH[1] 9 22 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNINUEH[0] 7 22 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[5] 10 25 2 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[4] 10 23 3 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[3] 10 25 5 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[2] 9 23 5 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[1] 10 23 4 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[0] 10 23 5 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m6 10 26 3 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m22 10 25 1 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m2 10 25 7 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m19 10 26 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m16 10 25 4 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m10 9 26 2 #SB_LUT4
set_location this_start_data_delay.un30_3_0_o2_1 20 18 2 #SB_LUT4
set_location this_start_data_delay.un25_i_a2_i_o2[4] 19 18 2 #SB_LUT4
set_location this_start_data_delay.un25_i_a2_3_a2_2_a3[3] 19 17 5 #SB_LUT4
set_location this_start_data_delay.un1_M_this_substate_q4_2_i_0_303_i_a2_i_i 20 18 5 #SB_LUT4
set_location this_start_data_delay.un1_M_this_substate_q4_2_i_0_303_i_a2_i_a2 20 18 4 #SB_LUT4
set_location this_start_data_delay.un1_M_this_substate_q4_1_i_0_286_i_o2_0 20 17 0 #SB_LUT4
set_location this_start_data_delay.un1_M_this_substate_q4_1_i_0_286_i_o2 20 18 7 #SB_LUT4
set_location this_start_data_delay.un1_M_this_substate_q4_1_i_0_286_i_i 22 23 1 #SB_LUT4
set_location this_start_data_delay.un1_M_this_state_q_1_i_a2_0_o2 20 16 6 #SB_LUT4
set_location this_start_data_delay.un1_M_this_state_q_1_i_a2_0_a2 20 17 2 #SB_LUT4
set_location this_start_data_delay.un1_M_this_state_q_17_i_o2_1_4 32 19 7 #SB_LUT4
set_location this_start_data_delay.port_data_rw_0_i 17 17 3 #SB_LUT4
set_location this_start_data_delay.port_data_rw_0_a2_1 16 17 7 #SB_LUT4
set_location this_start_data_delay.dmalto4_0_o2_0 18 20 6 #SB_LUT4
set_location this_start_data_delay.dmalto4_0_o2 15 20 1 #SB_LUT4
set_location this_start_data_delay.dmalto4_0_a2_1 19 18 5 #SB_LUT4
set_location this_start_data_delay.dmalto4_0_a2_0_1 18 20 1 #SB_LUT4
set_location this_start_data_delay.dmalto4_0_a2 18 20 7 #SB_LUT4
set_location this_start_data_delay.M_this_state_q_ns_0_o4_0_a2_4_a2_4_o2_3[0] 24 17 5 #SB_LUT4
set_location this_start_data_delay.M_this_state_q_ns_0_o4_0_a2_4_a2_4_o2[0] 24 17 6 #SB_LUT4
set_location this_start_data_delay.M_this_state_q_ns_0_i_o2[0] 19 18 4 #SB_LUT4
set_location this_start_data_delay.M_this_state_d62_9 23 22 3 #SB_LUT4
set_location this_start_data_delay.M_this_state_d62_8 23 22 1 #SB_LUT4
set_location this_start_data_delay.M_this_state_d62_11 22 21 1 #SB_LUT4
set_location this_start_data_delay.M_this_state_d62_10 23 21 1 #SB_LUT4
set_location this_start_data_delay.M_this_state_d62 23 22 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[9] 10 17 0 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[7] 9 17 1 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[6] 10 17 3 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[31] 9 18 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[30] 11 19 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[3] 10 17 2 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[29] 10 17 5 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[27] 9 17 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[25] 10 18 1 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[23] 7 20 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[22] 10 18 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[21] 10 18 7 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[19] 9 18 5 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[17] 11 19 0 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[15] 9 15 0 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[14] 9 15 1 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[13] 9 17 5 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[11] 9 17 2 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data_i[1] 9 16 2 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[8] 9 17 0 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[5] 9 16 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[4] 9 17 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[28] 9 18 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[26] 7 19 3 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[24] 10 18 3 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[20] 7 19 5 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[2] 10 17 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[18] 11 19 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[16] 11 19 7 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[12] 10 17 6 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[10] 14 17 4 #SB_LUT4
set_location this_start_data_delay.M_this_oam_ram_write_data[0] 9 20 2 #SB_LUT4
set_location this_start_data_delay.M_this_external_address_qlde_i_a3_0 20 17 3 #SB_LUT4
set_location this_start_data_delay.M_this_data_count_qlde_i_o2_1 19 18 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNO 21 17 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIVRKKC 21 15 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIVMHD1 19 19 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIUS2C3 23 16 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIUFEC3 22 15 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIUCR11 16 18 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNITUQ6D 22 18 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNITK893 22 20 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNISQ2C3 23 16 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNISDEC3 23 15 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNISA8G1 19 16 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIRUFP4 22 17 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIRMJKC 22 19 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIR1791 22 17 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIQ88G1 20 16 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIP7R11 20 18 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIOVDB1 20 19 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIOU691_0 22 21 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIOU691 20 18 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIOCPV6_0 21 16 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIOCPV6 22 18 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIO68G1 19 17 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNINT691 22 24 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNINS0N8 21 16 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNINHIKC 22 19 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNILR691 20 16 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNILCRA6 18 19 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIL468J 23 18 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIL33L3 22 18 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIKQ691 21 18 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK6R81 21 16 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK0EI1_3 18 20 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK0EI1_2 18 20 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK0EI1_1 20 20 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK0EI1_0 20 19 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIK0EI1 19 19 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIJPGP4 20 16 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIJCHKC 23 16 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIJARF1 22 15 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIJ13L3 22 17 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIIT6G1_0 21 17 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIIT6G1 21 17 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIIEHB8 22 19 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIICAO1_0 18 19 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIICAO1 19 19 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNII9RA6 22 21 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIHV2L3 21 17 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIHQLO2 20 16 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIGNC69 20 19 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIGFMQC 23 18 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIFT2L3 22 18 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIFSQ11 22 17 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIFLGP4 20 17 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIF2NL5 22 20 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIEGBV8 22 23 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIEFRT1 20 18 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIDQQ11 21 18 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIDHST1 20 20 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIDCIB8 19 17 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNID0LR2 20 20 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNICVKR2 22 20 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNICALQC 22 17 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNICA9G3_0 19 18 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNICA9G3 21 16 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIC4IPK 22 20 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBUKR2 18 20 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBOQ11 21 18 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBJQQ_0 21 17 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBJQQ 21 18 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBG7F1 10 22 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBDQKC 23 18 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIATKR2 19 19 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIAF7F1 9 28 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIA89G3_0 20 19 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIA89G3 20 17 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI9E7F1 11 26 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI97F36 21 24 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI96JM1 23 19 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI8D7F1 12 27 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI873C3 23 16 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI86F36 22 24 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI85KQC 22 17 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI7R5F1 19 19 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI7C7F1 12 24 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI78PKC 24 18 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI78H13 20 20 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI76NKC 23 16 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI75F36 21 24 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI6UUI2 21 18 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI6B7F1 9 22 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI67H13 18 20 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI653C3_0 21 18 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI653C3 23 16 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI5A7F1 14 25 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI497F1 10 25 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI433C3_0 24 18 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI433C3 21 17 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI3MH61 19 19 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI3LR2C 20 19 3 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI3F19A 20 19 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI33OKC 22 16 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI31MKC 24 16 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI2KEC3 24 17 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI281SC 22 20 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI213C3_0 22 16 7 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI213C3 22 19 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI12SC4_3 22 17 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI12SC4_2 21 25 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI12SC4_1 21 19 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI12SC4_0 21 18 4 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI12SC4 22 20 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI0V2C3 22 19 0 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI0T8G3_0 22 19 2 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI0T8G3 22 17 1 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNI0IEC3 24 15 3 #SB_LUT4
set_location this_start_data_delay.M_last_q 21 17 1 #SB_DFF
set_location this_start_data_delay.G_480 10 23 2 #SB_LUT4
set_location this_start_data_delay.G_464 13 21 4 #SB_LUT4
set_location this_start_data_delay.G_442 9 21 5 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNIIJNR3[11] 24 19 3 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNIIJNR3_0[11] 17 19 3 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNIAJNR3[11] 21 19 3 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNIAJNR3_0[11] 12 19 1 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNI5MK12[12] 24 19 2 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNI5MK12_0[12] 17 19 2 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNI1MK12[12] 21 19 2 #SB_LUT4
set_location this_sprites_ram.mem_radreg_RNI1MK12_0[12] 24 19 7 #SB_LUT4
set_location this_sprites_ram.mem_radreg[13] 22 19 6 #SB_DFF
set_location this_sprites_ram.mem_radreg[12] 16 18 7 #SB_DFF
set_location this_sprites_ram.mem_radreg[11] 17 19 5 #SB_DFF
set_location this_sprites_ram.mem_mem_7_1 25 31 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_7_0_wclke_3 24 25 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_7_0 25 29 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_6_1 25 27 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_6_0_wclke_3 24 25 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_6_0 25 25 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_5_1 25 23 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_5_0_wclke_3 24 20 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_5_0 25 21 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_4_1 25 19 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_4_0_wclke_3 24 17 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_4_0 25 17 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_3_1_RNIRI8P_0 26 17 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_1_RNIRI8P 17 19 7 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_1 25 15 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_3_0_wclke_3 24 13 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0_RNIPI8P_0 22 18 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0_RNIPI8P 24 20 7 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0 25 13 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_2_1_RNIPE6P_0 24 18 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_1_RNIPE6P 24 20 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_1 25 11 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_2_0_wclke_3 24 13 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0_RNINE6P_0 21 19 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0_RNINE6P 24 19 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0 25 9 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_1_1_RNINA4P_0 23 19 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_1_RNINA4P 17 18 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_1 25 7 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_1_0_wclke_3 24 14 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0_RNILA4P_0 21 19 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0_RNILA4P 24 17 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0 25 5 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_0_1_RNIL62P_0 24 18 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_1_RNIL62P 17 19 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_1 25 3 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_0_0_wclke_3 24 14 4 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0_RNIJ62P_0 21 11 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0_RNIJ62P 24 18 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0 25 1 0 #SB_RAM40_4K
set_location this_reset_cond.M_stage_q_RNO[9] 15 22 5 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[8] 15 22 7 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[7] 15 22 6 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[6] 15 22 0 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[5] 15 22 1 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[4] 14 21 0 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[3] 14 16 1 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[2] 14 15 4 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[1] 14 15 0 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[0] 15 14 4 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNIAI791[9] 16 18 4 #SB_LUT4
set_location this_reset_cond.M_stage_q[9] 15 22 5 #SB_DFF
set_location this_reset_cond.M_stage_q[8] 15 22 7 #SB_DFF
set_location this_reset_cond.M_stage_q[7] 15 22 6 #SB_DFF
set_location this_reset_cond.M_stage_q[6] 15 22 0 #SB_DFF
set_location this_reset_cond.M_stage_q[5] 15 22 1 #SB_DFF
set_location this_reset_cond.M_stage_q[4] 14 21 0 #SB_DFF
set_location this_reset_cond.M_stage_q[3] 14 16 1 #SB_DFF
set_location this_reset_cond.M_stage_q[2] 14 15 4 #SB_DFF
set_location this_reset_cond.M_stage_q[1] 14 15 0 #SB_DFF
set_location this_reset_cond.M_stage_q[0] 15 14 4 #SB_DFF
set_location this_ppu.vram_en_i_a2_0 12 19 2 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_6_c_RNIP5L8 9 19 7 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_6_c 9 19 6 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_5_c_RNI55G8 9 19 6 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_5_c 9 19 5 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_4_c_RNI32F8 9 19 5 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_4_c 9 19 4 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_3_c_RNI1VD8 9 19 4 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_3_c 9 19 3 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_2_c_RNIVRC8 9 19 3 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_2_c 9 19 2 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_1_c_RNITOB8 9 19 2 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_1_c 9 19 1 #SB_CARRY
set_location this_ppu.un3_sprites_addr_cry_0_c_inv 9 19 0 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_0_c_RNIRLA8 9 19 1 #SB_LUT4
set_location this_ppu.un3_sprites_addr_cry_0_c 9 19 0 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_6_s1_c 14 18 6 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_5_s1_c 14 18 5 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_4_s1_c 14 18 4 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_3_s1_c 14 18 3 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_2_s1_c 14 18 2 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_1_s1_c 14 18 1 #SB_CARRY
set_location this_ppu.un1_M_count_q_1_cry_0_s1_c 14 18 0 #SB_CARRY
set_location this_ppu.un10_sprites_addr_cry_4_c_RNIUV9B 16 19 5 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_4_c 16 19 4 #SB_CARRY
set_location this_ppu.un10_sprites_addr_cry_3_c_RNISS8B 16 19 4 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_3_c 16 19 3 #SB_CARRY
set_location this_ppu.un10_sprites_addr_cry_2_c_RNIQP7B 16 19 3 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_2_c 16 19 2 #SB_CARRY
set_location this_ppu.un10_sprites_addr_cry_1_c_RNIOM6B 16 19 2 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_1_c 16 19 1 #SB_CARRY
set_location this_ppu.un10_sprites_addr_cry_0_c_inv 16 19 0 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_0_c_RNIMJ5B 16 19 1 #SB_LUT4
set_location this_ppu.un10_sprites_addr_cry_0_c 16 19 0 #SB_CARRY
set_location this_ppu.line_clk.M_last_q 14 21 1 #SB_DFF
set_location this_ppu.M_vaddress_q_RNO[7] 15 24 6 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[6] 14 24 4 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[5] 16 20 3 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[4] 16 20 5 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[3] 16 20 4 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[2] 16 20 2 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[1] 16 20 1 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[0] 16 20 0 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNIVCB01[1] 26 31 2 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNIS8A01[0] 15 19 4 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNIMGCA[0] 15 19 1 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNIJV275[2] 14 20 3 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNIE6DH5[4] 14 21 5 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNI2HC01[2] 24 31 7 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNI1DAA[7] 11 25 7 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNI0655[6] 12 27 3 #SB_LUT4
set_location this_ppu.M_vaddress_q[7] 15 24 6 #SB_DFFSR
set_location this_ppu.M_vaddress_q[6] 14 24 4 #SB_DFFSR
set_location this_ppu.M_vaddress_q[5] 16 20 3 #SB_DFFSR
set_location this_ppu.M_vaddress_q[4] 16 20 5 #SB_DFFSR
set_location this_ppu.M_vaddress_q[3] 16 20 4 #SB_DFFSR
set_location this_ppu.M_vaddress_q[2] 16 20 2 #SB_DFFSR
set_location this_ppu.M_vaddress_q[1] 16 20 1 #SB_DFFSR
set_location this_ppu.M_vaddress_q[0] 16 20 0 #SB_DFFSR
set_location this_ppu.M_state_q_RNO[4] 13 20 6 #SB_LUT4
set_location this_ppu.M_state_q_RNO[2] 17 20 5 #SB_LUT4
set_location this_ppu.M_state_q_RNO_1[1] 13 20 2 #SB_LUT4
set_location this_ppu.M_state_q_RNO[1] 12 20 1 #SB_LUT4
set_location this_ppu.M_state_q_RNO_0[4] 13 20 5 #SB_LUT4
set_location this_ppu.M_state_q_RNO_0[1] 13 20 4 #SB_LUT4
set_location this_ppu.M_state_q_RNO[0] 15 20 5 #SB_LUT4
set_location this_ppu.M_state_q_RNIV9051[2] 22 19 6 #SB_LUT4
set_location this_ppu.M_state_q_RNIUTM1G[5] 12 19 3 #SB_LUT4
set_location this_ppu.M_state_q_RNIT6V41[2] 16 18 7 #SB_LUT4
set_location this_ppu.M_state_q_RNIR3U41[2] 17 19 5 #SB_LUT4
set_location this_ppu.M_state_q_RNIPFB21[2] 9 31 7 #SB_LUT4
set_location this_ppu.M_state_q_RNIP0T41[2] 24 31 4 #SB_LUT4
set_location this_ppu.M_state_q_RNIMTR41[2] 15 19 7 #SB_LUT4
set_location this_ppu.M_state_q_RNIMQ241[2] 15 19 2 #SB_LUT4
set_location this_ppu.M_state_q_RNIKRC91[1] 14 19 0 #SB_LUT4
set_location this_ppu.M_state_q_RNIELANC[0] 15 20 3 #SB_LUT4
set_location this_ppu.M_state_q_RNIE20V4[0] 14 20 0 #SB_LUT4
set_location this_ppu.M_state_q_RNI5F621[2] 23 31 1 #SB_LUT4
set_location this_ppu.M_state_q_RNI2UC86[1] 14 19 1 #SB_LUT4
set_location this_ppu.M_state_q_RNI2TJN4[0] 14 20 2 #SB_LUT4
set_location this_ppu.M_state_q_RNI22015[0] 14 20 6 #SB_LUT4
set_location this_ppu.M_state_q[5] 13 20 7 #SB_DFFSR
set_location this_ppu.M_state_q[4] 13 20 6 #SB_DFFSR
set_location this_ppu.M_state_q[3] 15 30 2 #SB_DFFSR
set_location this_ppu.M_state_q[2] 17 20 5 #SB_DFFSR
set_location this_ppu.M_state_q[1] 12 20 1 #SB_DFFSR
set_location this_ppu.M_state_q[0] 15 20 5 #SB_DFFSS
set_location this_ppu.M_haddress_q_RNO[7] 12 19 7 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[6] 12 19 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[5] 12 19 0 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[4] 13 19 6 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[3] 13 19 3 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[2] 13 19 1 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[1] 13 19 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO_0[3] 13 19 2 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[0] 13 19 5 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIOC7O[0] 19 31 2 #SB_LUT4
set_location this_ppu.M_haddress_q_RNINDU1G[1] 12 19 5 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIIT3[6] 11 19 2 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIEV7R[2] 13 19 0 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIBR6R[1] 20 31 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNI98B5[0] 11 19 1 #SB_LUT4
set_location this_ppu.M_haddress_q_RNI5S7[7] 11 19 5 #SB_LUT4
set_location this_ppu.M_haddress_q_RNI4T92G[4] 12 19 6 #SB_LUT4
set_location this_ppu.M_haddress_q[7] 12 19 7 #SB_DFFSR
set_location this_ppu.M_haddress_q[6] 12 19 4 #SB_DFFSR
set_location this_ppu.M_haddress_q[5] 12 19 0 #SB_DFFSR
set_location this_ppu.M_haddress_q[4] 13 19 6 #SB_DFFSR
set_location this_ppu.M_haddress_q[3] 13 19 3 #SB_DFFSR
set_location this_ppu.M_haddress_q[2] 13 19 1 #SB_DFFSR
set_location this_ppu.M_haddress_q[1] 13 19 4 #SB_DFFSR
set_location this_ppu.M_haddress_q[0] 13 19 5 #SB_DFFSR
set_location this_ppu.M_count_q_RNO[7] 15 20 7 #SB_LUT4
set_location this_ppu.M_count_q_RNO[6] 15 19 3 #SB_LUT4
set_location this_ppu.M_count_q_RNO[5] 14 19 4 #SB_LUT4
set_location this_ppu.M_count_q_RNO[4] 14 19 2 #SB_LUT4
set_location this_ppu.M_count_q_RNO[3] 15 18 0 #SB_LUT4
set_location this_ppu.M_count_q_RNO[2] 15 18 4 #SB_LUT4
set_location this_ppu.M_count_q_RNO[1] 14 19 5 #SB_LUT4
set_location this_ppu.M_count_q_RNO_0[7] 14 18 7 #SB_LUT4
set_location this_ppu.M_count_q_RNO[0] 14 17 3 #SB_LUT4
set_location this_ppu.M_count_q_RNICD0G[1] 14 19 6 #SB_LUT4
set_location this_ppu.M_count_q_RNI890G[7] 15 18 1 #SB_LUT4
set_location this_ppu.M_count_q[7] 15 20 7 #SB_DFFSR
set_location this_ppu.M_count_q[6] 15 19 3 #SB_DFF
set_location this_ppu.M_count_q[5] 14 19 4 #SB_DFF
set_location this_ppu.M_count_q[4] 14 19 2 #SB_DFF
set_location this_ppu.M_count_q[3] 15 18 0 #SB_DFF
set_location this_ppu.M_count_q[2] 15 18 4 #SB_DFF
set_location this_ppu.M_count_q[1] 14 19 5 #SB_DFF
set_location this_ppu.M_count_q[0] 14 17 3 #SB_DFF
set_location this_pixel_clk.M_counter_q_RNO[1] 9 21 1 #SB_LUT4
set_location this_pixel_clk.M_counter_q_RNO[0] 7 21 5 #SB_LUT4
set_location this_pixel_clk.M_counter_q[1] 9 21 1 #SB_DFF
set_location this_pixel_clk.M_counter_q[0] 7 21 5 #SB_DFFSR
set_location this_oam_ram.mem_mem_0_1_RNITG75_4 10 20 7 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1_RNITG75_3 9 20 1 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1_RNITG75_2 9 20 7 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1_RNITG75_1 7 19 0 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1_RNITG75_0 9 20 5 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1_RNITG75 9 20 4 #SB_LUT4
set_location this_oam_ram.mem_mem_0_1 8 19 0 #SB_RAM40_4K
set_location this_oam_ram.mem_mem_0_0_RNISG75_2 9 20 3 #SB_LUT4
set_location this_oam_ram.mem_mem_0_0_RNISG75_1 9 18 2 #SB_LUT4
set_location this_oam_ram.mem_mem_0_0_RNISG75_0 9 17 7 #SB_LUT4
set_location this_oam_ram.mem_mem_0_0_RNISG75 15 19 5 #SB_LUT4
set_location this_oam_ram.mem_mem_0_0 8 17 0 #SB_RAM40_4K
set_location this_map_ram.mem_mem_0_1 8 27 0 #SB_RAM40_4K
set_location this_map_ram.mem_mem_0_0 8 25 0 #SB_RAM40_4K
set_location this_delay_clk.M_pipe_q[4] 21 18 2 #SB_DFF
set_location this_delay_clk.M_pipe_q[3] 17 18 4 #SB_DFF
set_location this_delay_clk.M_pipe_q[2] 6 19 2 #SB_DFF
set_location this_delay_clk.M_pipe_q[1] 6 19 0 #SB_DFF
set_location this_delay_clk.M_pipe_q[0] 6 20 6 #SB_DFF
set_location m1 17 21 0 #SB_LUT4
set_location dma_0_sbtinv 16 16 6 #SB_LUT4
set_location M_this_substate_q_RNO 18 19 1 #SB_LUT4
set_location M_this_substate_q 18 19 1 #SB_DFFSR
set_location M_this_state_q_RNI9H791[15] 17 16 6 #SB_LUT4
set_location M_this_state_q_RNI8G791[14] 16 17 3 #SB_LUT4
set_location M_this_state_q_RNI7F791[13] 18 16 6 #SB_LUT4
set_location M_this_state_q[9] 22 17 6 #SB_DFF
set_location M_this_state_q[8] 22 17 2 #SB_DFF
set_location M_this_state_q[7] 22 19 3 #SB_DFF
set_location M_this_state_q[6] 20 20 6 #SB_DFF
set_location M_this_state_q[5] 22 20 7 #SB_DFF
set_location M_this_state_q[4] 18 20 5 #SB_DFF
set_location M_this_state_q[3] 19 19 0 #SB_DFF
set_location M_this_state_q[2] 20 20 4 #SB_DFF
set_location M_this_state_q[17] 16 15 0 #SB_DFFSR
set_location M_this_state_q[16] 19 16 1 #SB_DFF
set_location M_this_state_q[15] 20 16 4 #SB_DFF
set_location M_this_state_q[14] 19 17 0 #SB_DFF
set_location M_this_state_q[13] 20 16 2 #SB_DFF
set_location M_this_state_q[12] 19 17 7 #SB_DFF
set_location M_this_state_q[11] 20 17 5 #SB_DFF
set_location M_this_state_q[10] 20 19 7 #SB_DFF
set_location M_this_state_q[1] 18 20 2 #SB_DFF
set_location M_this_state_q[0] 20 19 3 #SB_DFF
set_location M_this_sprites_address_q[9] 23 18 7 #SB_DFF
set_location M_this_sprites_address_q[8] 24 18 5 #SB_DFF
set_location M_this_sprites_address_q[7] 22 16 0 #SB_DFF
set_location M_this_sprites_address_q[6] 23 16 2 #SB_DFF
set_location M_this_sprites_address_q[5] 24 16 2 #SB_DFF
set_location M_this_sprites_address_q[4] 21 15 4 #SB_DFF
set_location M_this_sprites_address_q[3] 22 19 5 #SB_DFF
set_location M_this_sprites_address_q[2] 22 19 1 #SB_DFF
set_location M_this_sprites_address_q[13] 23 18 5 #SB_DFF
set_location M_this_sprites_address_q[12] 22 17 4 #SB_DFF
set_location M_this_sprites_address_q[11] 22 17 7 #SB_DFF
set_location M_this_sprites_address_q[10] 22 18 1 #SB_DFF
set_location M_this_sprites_address_q[1] 23 16 6 #SB_DFF
set_location M_this_sprites_address_q[0] 23 18 6 #SB_DFF
set_location M_this_oam_address_q_RNO[5] 7 17 5 #SB_LUT4
set_location M_this_oam_address_q_RNO[4] 7 17 4 #SB_LUT4
set_location M_this_oam_address_q_RNO[3] 7 17 3 #SB_LUT4
set_location M_this_oam_address_q_RNO[2] 7 17 2 #SB_LUT4
set_location M_this_oam_address_q_RNO[1] 7 17 1 #SB_LUT4
set_location M_this_oam_address_q_RNO[0] 7 17 0 #SB_LUT4
set_location M_this_oam_address_q[5] 7 17 5 #SB_DFFSR
set_location M_this_oam_address_q[4] 7 17 4 #SB_DFFSR
set_location M_this_oam_address_q[3] 7 17 3 #SB_DFFSR
set_location M_this_oam_address_q[2] 7 17 2 #SB_DFFSR
set_location M_this_oam_address_q[1] 7 17 1 #SB_DFFSR
set_location M_this_oam_address_q[0] 7 17 0 #SB_DFFSR
set_location M_this_map_address_q_RNO[9] 9 25 1 #SB_LUT4
set_location M_this_map_address_q_RNO[8] 9 25 0 #SB_LUT4
set_location M_this_map_address_q_RNO[7] 9 24 7 #SB_LUT4
set_location M_this_map_address_q_RNO[6] 9 24 6 #SB_LUT4
set_location M_this_map_address_q_RNO[5] 9 24 5 #SB_LUT4
set_location M_this_map_address_q_RNO[4] 9 24 4 #SB_LUT4
set_location M_this_map_address_q_RNO[3] 9 24 3 #SB_LUT4
set_location M_this_map_address_q_RNO[2] 9 24 2 #SB_LUT4
set_location M_this_map_address_q_RNO[1] 9 24 1 #SB_LUT4
set_location M_this_map_address_q_RNO[0] 9 24 0 #SB_LUT4
set_location M_this_map_address_q[9] 9 25 1 #SB_DFFSR
set_location M_this_map_address_q[8] 9 25 0 #SB_DFFSR
set_location M_this_map_address_q[7] 9 24 7 #SB_DFFSR
set_location M_this_map_address_q[6] 9 24 6 #SB_DFFSR
set_location M_this_map_address_q[5] 9 24 5 #SB_DFFSR
set_location M_this_map_address_q[4] 9 24 4 #SB_DFFSR
set_location M_this_map_address_q[3] 9 24 3 #SB_DFFSR
set_location M_this_map_address_q[2] 9 24 2 #SB_DFFSR
set_location M_this_map_address_q[1] 9 24 1 #SB_DFFSR
set_location M_this_map_address_q[0] 9 24 0 #SB_DFFSR
set_location M_this_external_address_q_cry_c[9] 26 24 1 #SB_CARRY
set_location M_this_external_address_q_cry_c[8] 26 24 0 #SB_CARRY
set_location M_this_external_address_q_cry_c[7] 26 23 7 #SB_CARRY
set_location M_this_external_address_q_cry_c[6] 26 23 6 #SB_CARRY
set_location M_this_external_address_q_cry_c[5] 26 23 5 #SB_CARRY
set_location M_this_external_address_q_cry_c[4] 26 23 4 #SB_CARRY
set_location M_this_external_address_q_cry_c[3] 26 23 3 #SB_CARRY
set_location M_this_external_address_q_cry_c[2] 26 23 2 #SB_CARRY
set_location M_this_external_address_q_cry_c[14] 26 24 6 #SB_CARRY
set_location M_this_external_address_q_cry_c[13] 26 24 5 #SB_CARRY
set_location M_this_external_address_q_cry_c[12] 26 24 4 #SB_CARRY
set_location M_this_external_address_q_cry_c[11] 26 24 3 #SB_CARRY
set_location M_this_external_address_q_cry_c[10] 26 24 2 #SB_CARRY
set_location M_this_external_address_q_cry_c[1] 26 23 1 #SB_CARRY
set_location M_this_external_address_q_cry_c[0] 26 23 0 #SB_CARRY
set_location M_this_external_address_q_RNO[9] 24 24 6 #SB_LUT4
set_location M_this_external_address_q_RNO[8] 23 24 0 #SB_LUT4
set_location M_this_external_address_q_RNO[7] 26 23 7 #SB_LUT4
set_location M_this_external_address_q_RNO[6] 26 23 6 #SB_LUT4
set_location M_this_external_address_q_RNO[5] 26 23 5 #SB_LUT4
set_location M_this_external_address_q_RNO[4] 26 23 4 #SB_LUT4
set_location M_this_external_address_q_RNO[3] 26 23 3 #SB_LUT4
set_location M_this_external_address_q_RNO[2] 26 23 2 #SB_LUT4
set_location M_this_external_address_q_RNO[15] 23 24 6 #SB_LUT4
set_location M_this_external_address_q_RNO[14] 24 24 1 #SB_LUT4
set_location M_this_external_address_q_RNO[13] 23 24 7 #SB_LUT4
set_location M_this_external_address_q_RNO[12] 24 24 0 #SB_LUT4
set_location M_this_external_address_q_RNO[11] 26 25 1 #SB_LUT4
set_location M_this_external_address_q_RNO[10] 26 25 2 #SB_LUT4
set_location M_this_external_address_q_RNO[1] 26 23 1 #SB_LUT4
set_location M_this_external_address_q_RNO_0[9] 26 24 1 #SB_LUT4
set_location M_this_external_address_q_RNO_0[8] 26 24 0 #SB_LUT4
set_location M_this_external_address_q_RNO_0[15] 26 24 7 #SB_LUT4
set_location M_this_external_address_q_RNO_0[11] 26 24 3 #SB_LUT4
set_location M_this_external_address_q_RNO_0[10] 26 24 2 #SB_LUT4
set_location M_this_external_address_q_RNO[0] 26 23 0 #SB_LUT4
set_location M_this_external_address_q[9] 24 24 6 #SB_DFFE
set_location M_this_external_address_q[8] 23 24 0 #SB_DFFE
set_location M_this_external_address_q[7] 26 23 7 #SB_DFFE
set_location M_this_external_address_q[6] 26 23 6 #SB_DFFE
set_location M_this_external_address_q[5] 26 23 5 #SB_DFFE
set_location M_this_external_address_q[4] 26 23 4 #SB_DFFE
set_location M_this_external_address_q[3] 26 23 3 #SB_DFFE
set_location M_this_external_address_q[2] 26 23 2 #SB_DFFE
set_location M_this_external_address_q[15] 23 24 6 #SB_DFFE
set_location M_this_external_address_q[14] 24 24 1 #SB_DFFE
set_location M_this_external_address_q[13] 23 24 7 #SB_DFFE
set_location M_this_external_address_q[12] 24 24 0 #SB_DFFE
set_location M_this_external_address_q[11] 26 25 1 #SB_DFFE
set_location M_this_external_address_q[10] 26 25 2 #SB_DFFE
set_location M_this_external_address_q[1] 26 23 1 #SB_DFFE
set_location M_this_external_address_q[0] 26 23 0 #SB_DFFE
set_location M_this_data_tmp_q_esr[9] 12 17 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[8] 10 16 0 #SB_DFFESR
set_location M_this_data_tmp_q_esr[7] 11 17 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[6] 13 18 1 #SB_DFFESR
set_location M_this_data_tmp_q_esr[5] 12 16 1 #SB_DFFESR
set_location M_this_data_tmp_q_esr[4] 11 17 5 #SB_DFFESR
set_location M_this_data_tmp_q_esr[31] 11 18 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[30] 11 16 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[3] 11 17 1 #SB_DFFESR
set_location M_this_data_tmp_q_esr[29] 12 15 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[28] 11 18 7 #SB_DFFESR
set_location M_this_data_tmp_q_esr[27] 11 16 1 #SB_DFFESR
set_location M_this_data_tmp_q_esr[26] 7 18 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[25] 11 18 0 #SB_DFFESR
set_location M_this_data_tmp_q_esr[24] 13 17 0 #SB_DFFESR
set_location M_this_data_tmp_q_esr[23] 10 19 7 #SB_DFFESR
set_location M_this_data_tmp_q_esr[22] 10 19 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[21] 10 19 5 #SB_DFFESR
set_location M_this_data_tmp_q_esr[20] 10 19 4 #SB_DFFESR
set_location M_this_data_tmp_q_esr[2] 11 17 4 #SB_DFFESR
set_location M_this_data_tmp_q_esr[19] 10 19 3 #SB_DFFESR
set_location M_this_data_tmp_q_esr[18] 10 19 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[17] 15 17 4 #SB_DFFESR
set_location M_this_data_tmp_q_esr[16] 10 19 0 #SB_DFFESR
set_location M_this_data_tmp_q_esr[15] 10 15 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[14] 11 15 5 #SB_DFFESR
set_location M_this_data_tmp_q_esr[13] 12 17 3 #SB_DFFESR
set_location M_this_data_tmp_q_esr[12] 12 17 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[11] 10 16 6 #SB_DFFESR
set_location M_this_data_tmp_q_esr[10] 15 16 2 #SB_DFFESR
set_location M_this_data_tmp_q_esr[1] 13 16 4 #SB_DFFESR
set_location M_this_data_tmp_q_esr[0] 12 18 0 #SB_DFFESR
set_location M_this_data_count_q_cry_c[9] 24 22 1 #SB_CARRY
set_location M_this_data_count_q_cry_c[8] 24 22 0 #SB_CARRY
set_location M_this_data_count_q_cry_c[7] 24 21 7 #SB_CARRY
set_location M_this_data_count_q_cry_c[6] 24 21 6 #SB_CARRY
set_location M_this_data_count_q_cry_c[5] 24 21 5 #SB_CARRY
set_location M_this_data_count_q_cry_c[4] 24 21 4 #SB_CARRY
set_location M_this_data_count_q_cry_c[3] 24 21 3 #SB_CARRY
set_location M_this_data_count_q_cry_c[2] 24 21 2 #SB_CARRY
set_location M_this_data_count_q_cry_c[14] 24 22 6 #SB_CARRY
set_location M_this_data_count_q_cry_c[13] 24 22 5 #SB_CARRY
set_location M_this_data_count_q_cry_c[12] 24 22 4 #SB_CARRY
set_location M_this_data_count_q_cry_c[11] 24 22 3 #SB_CARRY
set_location M_this_data_count_q_cry_c[10] 24 22 2 #SB_CARRY
set_location M_this_data_count_q_cry_c[1] 24 21 1 #SB_CARRY
set_location M_this_data_count_q_cry_c[0] 24 21 0 #SB_CARRY
set_location M_this_data_count_q_RNO[9] 22 22 2 #SB_LUT4
set_location M_this_data_count_q_RNO[8] 22 22 6 #SB_LUT4
set_location M_this_data_count_q_RNO[7] 22 21 4 #SB_LUT4
set_location M_this_data_count_q_RNO[6] 22 21 6 #SB_LUT4
set_location M_this_data_count_q_RNO[5] 22 21 3 #SB_LUT4
set_location M_this_data_count_q_RNO[4] 24 23 0 #SB_LUT4
set_location M_this_data_count_q_RNO[3] 18 17 0 #SB_LUT4
set_location M_this_data_count_q_RNO[2] 23 21 7 #SB_LUT4
set_location M_this_data_count_q_RNO[15] 23 21 3 #SB_LUT4
set_location M_this_data_count_q_RNO[14] 18 18 3 #SB_LUT4
set_location M_this_data_count_q_RNO[13] 22 22 1 #SB_LUT4
set_location M_this_data_count_q_RNO[12] 23 20 2 #SB_LUT4
set_location M_this_data_count_q_RNO[11] 23 22 0 #SB_LUT4
set_location M_this_data_count_q_RNO[10] 23 22 5 #SB_LUT4
set_location M_this_data_count_q_RNO[1] 23 21 6 #SB_LUT4
set_location M_this_data_count_q_RNO_0[9] 24 22 1 #SB_LUT4
set_location M_this_data_count_q_RNO_0[8] 24 22 0 #SB_LUT4
set_location M_this_data_count_q_RNO_0[6] 24 21 6 #SB_LUT4
set_location M_this_data_count_q_RNO_0[15] 24 22 7 #SB_LUT4
set_location M_this_data_count_q_RNO_0[14] 24 22 6 #SB_LUT4
set_location M_this_data_count_q_RNO_0[12] 24 22 4 #SB_LUT4
set_location M_this_data_count_q_RNO_0[11] 24 22 3 #SB_LUT4
set_location M_this_data_count_q_RNO[0] 23 20 5 #SB_LUT4
set_location M_this_data_count_q[9] 22 22 2 #SB_DFFE
set_location M_this_data_count_q[8] 22 22 6 #SB_DFFE
set_location M_this_data_count_q[7] 22 21 4 #SB_DFFE
set_location M_this_data_count_q[6] 22 21 6 #SB_DFFE
set_location M_this_data_count_q[5] 22 21 3 #SB_DFFE
set_location M_this_data_count_q[4] 24 23 0 #SB_DFFE
set_location M_this_data_count_q[3] 18 17 0 #SB_DFFE
set_location M_this_data_count_q[2] 23 21 7 #SB_DFFE
set_location M_this_data_count_q[15] 23 21 3 #SB_DFFE
set_location M_this_data_count_q[14] 18 18 3 #SB_DFFE
set_location M_this_data_count_q[13] 22 22 1 #SB_DFFE
set_location M_this_data_count_q[12] 23 20 2 #SB_DFFE
set_location M_this_data_count_q[11] 23 22 0 #SB_DFFE
set_location M_this_data_count_q[10] 23 22 5 #SB_DFFE
set_location M_this_data_count_q[1] 23 21 6 #SB_DFFE
set_location M_this_data_count_q[0] 23 20 5 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_io vsync A3
set_io vblank A4
set_io rst_n P8
set_io rgb[5] D3
set_io rgb[4] C1
set_io rgb[3] E1
set_io rgb[2] G1
set_io rgb[1] J1
set_io rgb[0] M1
set_io port_rw F4
set_io port_nmib K3
set_io port_enb H1
set_io port_dmab N1
set_io port_data_rw D4
set_io port_data[7] H11
set_io port_data[6] G12
set_io port_data[5] F11
set_io port_data[4] D12
set_io port_data[3] C12
set_io port_data[2] D10
set_io port_data[1] D7
set_io port_data[0] C7
set_io port_clk H4
set_io port_address[9] A10
set_io port_address[8] A6
set_io port_address[7] J12
set_io port_address[6] G14
set_io port_address[5] E12
set_io port_address[4] D14
set_io port_address[3] B14
set_io port_address[2] C10
set_io port_address[15] H12
set_io port_address[14] F14
set_io port_address[13] E14
set_io port_address[12] C14
set_io port_address[11] A12
set_io port_address[10] C9
set_io port_address[1] A11
set_io port_address[0] A7
set_io led[7] N14
set_io led[6] M12
set_io led[5] L14
set_io led[4] L12
set_io led[3] K14
set_io led[2] K12
set_io led[1] K11
set_io led[0] J11
set_io hsync A1
set_io hblank A2
set_io debug[1] L6
set_io debug[0] P4
set_io clk P7
