set_location IN_MUX_bfv_11_22_0_ 11 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_23_0_ 11 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_21_17_0_ 21 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_21_18_0_ 21 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_17_0_ 13 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_18_0_ 13 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_22_0_ 15 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_23_0_ 15 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_23_0_ 30 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_30_24_0_ 30 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_23_0_ 17 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_24_0_ 17 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_25_0_ 17 25 0 #ICE_CARRY_IN_MUX
set_location un1_M_this_data_count_q_cry_12_c_THRU_CRY_2 17 24 7 #SB_CARRY
set_location un1_M_this_data_count_q_cry_12_c_THRU_CRY_1 17 24 6 #SB_CARRY
set_location un1_M_this_data_count_q_cry_12_c_THRU_CRY_0 17 24 5 #SB_CARRY
set_location CONSTANT_ONE_LUT4 13 20 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_8_THRU_LUT4_0 11 18 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_8_THRU_LUT4_0 13 19 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_8_rep1_esr_THRU_LUT4_0 12 18 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_7_THRU_LUT4_0 10 18 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_7_THRU_LUT4_0 12 17 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_7_rep1_esr_THRU_LUT4_0 10 18 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_6_THRU_LUT4_0 11 18 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_6_THRU_LUT4_0 13 19 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_6_rep1_esr_THRU_LUT4_0 12 18 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_5_THRU_LUT4_0 11 18 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_5_THRU_LUT4_0 12 21 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_THRU_LUT4_0 13 19 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_4_THRU_LUT4_0 10 18 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_4_THRU_LUT4_0 9 17 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_THRU_LUT4_0 13 19 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_THRU_LUT4_0 12 18 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNICHRV3_8_this_ppu.line_clk.M_last_q_REP_LUT4_0 14 19 7 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_RNI5GDH2_this_vga_signals.M_pcounter_q_0_e_1_REP_LUT4_0 9 23 2 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_1_RNI9C5I1_this_vga_signals.M_pcounter_q_0_e_0_REP_LUT4_0 9 23 5 #SB_LUT4
set_location this_delay_clk.M_pipe_q_4_THRU_LUT4_0 13 22 1 #SB_LUT4
set_location this_delay_clk.M_pipe_q_3_THRU_LUT4_0 13 22 4 #SB_LUT4
set_location this_delay_clk.M_pipe_q_2_THRU_LUT4_0 6 21 6 #SB_LUT4
set_location this_delay_clk.M_pipe_q_1_THRU_LUT4_0 6 20 1 #SB_LUT4
set_location this_delay_clk.M_pipe_q_0_THRU_LUT4_0 6 20 5 #SB_LUT4
set_location M_this_state_q_RNI9MQ11_2_M_this_state_q_3_REP_LUT4_0 20 23 6 #SB_LUT4
set_location M_this_state_q_0_THRU_LUT4_0 16 21 3 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_9_c 15 23 1 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_8_c 15 23 0 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_7_c 15 22 7 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_6_c 15 22 6 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_5_c 15 22 5 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_4_c 15 22 4 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_3_c 15 22 3 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_2_c 15 22 2 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_1_c 15 22 1 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_12_c_RNI4FIE 15 23 5 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_12_c 15 23 4 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_11_c_RNI2CHE 15 23 4 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_11_c 15 23 3 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_10_c_RNI09GE 15 23 3 #SB_LUT4
set_location un1_M_this_sprites_address_q_cry_10_c 15 23 2 #SB_CARRY
set_location un1_M_this_sprites_address_q_cry_0_c 15 22 0 #SB_CARRY
set_location un1_M_this_external_address_q_cry_9_c 30 24 1 #SB_CARRY
set_location un1_M_this_external_address_q_cry_8_c 30 24 0 #SB_CARRY
set_location un1_M_this_external_address_q_cry_7_c 30 23 7 #SB_CARRY
set_location un1_M_this_external_address_q_cry_6_c 30 23 6 #SB_CARRY
set_location un1_M_this_external_address_q_cry_5_c 30 23 5 #SB_CARRY
set_location un1_M_this_external_address_q_cry_4_c 30 23 4 #SB_CARRY
set_location un1_M_this_external_address_q_cry_3_c 30 23 3 #SB_CARRY
set_location un1_M_this_external_address_q_cry_2_c 30 23 2 #SB_CARRY
set_location un1_M_this_external_address_q_cry_1_c 30 23 1 #SB_CARRY
set_location un1_M_this_external_address_q_cry_14_c 30 24 6 #SB_CARRY
set_location un1_M_this_external_address_q_cry_13_c 30 24 5 #SB_CARRY
set_location un1_M_this_external_address_q_cry_12_c 30 24 4 #SB_CARRY
set_location un1_M_this_external_address_q_cry_11_c 30 24 3 #SB_CARRY
set_location un1_M_this_external_address_q_cry_10_c 30 24 2 #SB_CARRY
set_location un1_M_this_external_address_q_cry_0_c 30 23 0 #SB_CARRY
set_location un1_M_this_data_count_q_cry_9_c 17 24 1 #SB_CARRY
set_location un1_M_this_data_count_q_cry_8_c 17 24 0 #SB_CARRY
set_location un1_M_this_data_count_q_cry_7_c 17 23 7 #SB_CARRY
set_location un1_M_this_data_count_q_cry_6_c 17 23 6 #SB_CARRY
set_location un1_M_this_data_count_q_cry_5_c 17 23 5 #SB_CARRY
set_location un1_M_this_data_count_q_cry_4_c 17 23 4 #SB_CARRY
set_location un1_M_this_data_count_q_cry_3_c 17 23 3 #SB_CARRY
set_location un1_M_this_data_count_q_cry_2_c 17 23 2 #SB_CARRY
set_location un1_M_this_data_count_q_cry_1_c 17 23 1 #SB_CARRY
set_location un1_M_this_data_count_q_cry_12_c 17 24 4 #SB_CARRY
set_location un1_M_this_data_count_q_cry_11_c 17 24 3 #SB_CARRY
set_location un1_M_this_data_count_q_cry_10_c 17 24 2 #SB_CARRY
set_location un1_M_this_data_count_q_cry_0_c 17 23 0 #SB_CARRY
set_location this_vram.mem_mem_0_0 8 9 0 #SB_RAM40_4K
set_location this_vga_signals.un5_vaddress.if_m8_0_a3_a7 10 17 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m8_0_a3_1_1_1 12 18 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m8_0_a3_1 12 18 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m8_0 11 19 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m2_1 10 19 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_m1_3 9 19 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc3_1_x1 9 20 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc3_1_x0 9 20 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc3_1_ns 9 20 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc3_1_1_0 9 21 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axbxc2 9 19 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axb1_395 10 20 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_axb1 9 20 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_3_0_0_x1 9 20 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_3_0_0_x0 10 20 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_3_0_0_ns 9 19 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_3_0 9 19 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_1_x1 9 20 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_1_x0 11 21 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un68_sum_ac0_1_ns 10 20 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_axbxc3 9 19 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3_N_2L1 11 19 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un61_sum_ac0_3 10 20 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_axb2 10 19 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_3_0 10 20 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un54_sum_ac0_2 10 19 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_axb1_0 12 18 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_axb1 10 18 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_1_1 11 18 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_1_0 11 18 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3_0_2_1 11 18 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.if_generate_plus.mult1_un40_sum_ac0_3 11 18 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_1 12 19 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2_0 11 20 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g2 11 20 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_5 10 20 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_4 11 20 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_3 9 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_2_i_m2 9 18 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_2 9 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_1_1 10 19 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_1 11 20 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1_0 12 20 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g1 12 20 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_x2_0 11 20 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_o2 9 19 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_m3 9 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_i_0 11 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_9_1 9 22 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_9 10 21 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_8 9 22 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_7_1 11 17 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_7_0 12 17 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_6 12 20 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5_2 10 20 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5_0 9 21 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_5 12 19 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3_1 9 21 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_38 12 19 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_37 9 20 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_36 12 19 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_35 10 19 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_34 11 19 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_32 11 19 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_31_1 11 20 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_31 12 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_3 10 22 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_2_x1 11 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_2_x0 11 21 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_2_ns 11 21 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_29 10 21 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_26 9 18 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_25 11 17 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_24 11 19 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_23 10 19 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_22_1 12 19 0 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_22 12 19 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_20 11 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_19 11 19 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_17 10 20 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_16 11 17 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_15 11 20 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_14 10 19 3 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_13 11 17 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_12_x1 10 21 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_12_x0 9 21 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_12_ns 9 22 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_11 9 19 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_10 11 21 2 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_1 9 18 4 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_3 14 21 1 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_2_1_0 10 21 6 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_2 10 21 7 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0_0_0 10 22 5 #SB_LUT4
set_location this_vga_signals.un5_vaddress.g0 9 21 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m7_0_x4_0_0 6 19 0 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m7_0_x4_0 9 22 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m7_0_o4 7 18 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m7_0_m2_0 7 19 1 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m7_0_m2 7 18 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m5_i 7 18 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_m1_0 7 19 0 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un89_sum_axbxc3_2 7 19 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_axbxc3_0 7 19 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un82_sum_axbxc3 7 19 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_c2 7 18 1 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axbxc3_1 6 19 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axbxc3_0 9 22 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axbxc3 7 18 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un75_sum_axb1 7 20 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_c3 10 23 4 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3_3_2 10 22 7 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3_3_0 10 22 6 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc3 7 19 4 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un68_sum_axbxc1 7 20 7 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_c2 7 20 4 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2_1_0 10 24 7 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2_1 10 23 2 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2_0 10 23 7 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc3_2 10 23 5 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un61_sum_axbxc1 10 23 3 #SB_LUT4
set_location this_vga_signals.un4_haddress.if_generate_plus.mult1_un54_sum_ac0_3_0 10 22 0 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_8_c 13 18 0 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_7_c_RNIRHSH 13 18 0 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_7_c 13 17 7 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_6_c_RNIPERH 13 17 7 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_6_c 13 17 6 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_5_c_RNINBQH 13 17 6 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_5_c 13 17 5 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_4_c_RNIL8PH 13 17 5 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_4_c 13 17 4 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_3_c_RNIJ5OH 13 17 4 #SB_LUT4
set_location this_vga_signals.un1_M_vcounter_q_cry_3_c 13 17 3 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_2_c 13 17 2 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_1_c 13 17 1 #SB_CARRY
set_location this_vga_signals.un1_M_vcounter_q_cry_0_c 13 17 0 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_8_c 11 22 7 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_7_c 11 22 6 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_6_c 11 22 5 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_5_c 11 22 4 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_4_c 11 22 3 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_3_c 11 22 2 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_2_c 11 22 1 #SB_CARRY
set_location this_vga_signals.un1_M_hcounter_d_cry_1_c 11 22 0 #SB_CARRY
set_location this_vga_signals.M_vcounter_q_fast_esr_RNIVA761[6] 11 18 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_RNIU9761[5] 10 18 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_RNITEVS[6] 10 18 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_RNIPKB1[7] 10 18 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr_RNI5QL61[4] 10 18 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_fast_esr[8] 11 18 2 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[7] 10 18 4 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[6] 11 18 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[5] 11 18 7 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_fast_esr[4] 10 18 7 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr_RNO[9] 13 18 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIROQM[8] 12 17 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIRO2H5[9] 17 20 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIMHLD1[8] 13 19 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNILIQM[5] 11 20 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNILIQM_1[5] 9 18 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNILIQM_0[5] 10 21 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIIDLD1[8] 11 21 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIIDLD1_0[8] 13 20 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIHT721[6] 10 21 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIHT721_1[6] 10 17 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIHT721_0[6] 10 17 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIGN2J3[9] 12 17 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIGN2J3_0[9] 5 19 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNICSHP[7] 12 23 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNICM2P1[6] 12 17 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNICHRV3[8] 14 19 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIBTPQ2[6] 14 19 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIBILS3[6] 14 17 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIADVP5[9] 1 17 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNIA0384[9] 4 12 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI542T3[9] 13 20 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr_RNI1FF84[6] 12 22 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_esr[9] 13 18 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[8] 13 19 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[7] 12 17 3 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[6] 13 19 2 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[5] 12 21 4 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_esr[4] 9 17 0 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_RNO[3] 13 17 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[2] 13 17 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[1] 13 17 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNO[0] 13 17 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIV19S[2] 14 18 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIQVHO1[0] 14 18 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIPQ6L81[2] 11 19 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNIOE1NOK[2] 9 19 4 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_RNI7QQL1[1] 12 22 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_8_rep1_esr 12 18 5 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_7_rep1_esr 10 18 0 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_6_rep1_esr_RNIC07L 12 19 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_6_rep1_esr 12 18 2 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIIONF_0 13 19 5 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIIONF 9 20 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr_RNIE35R 13 19 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_5_rep1_esr 13 19 6 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIK3QQ_1 12 20 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIK3QQ_0 12 19 3 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIK3QQ 12 20 1 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIGE761_1 13 20 0 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIGE761_0 12 20 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr_RNIGE761 12 20 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep2_esr 13 19 4 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_RNIHKHB_0 12 18 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_RNIHKHB 13 19 7 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_RNIBS0H_0 12 18 6 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr_RNIBS0H 11 19 2 #SB_LUT4
set_location this_vga_signals.M_vcounter_q_4_rep1_esr 12 18 1 #SB_DFFESR
set_location this_vga_signals.M_vcounter_q[3] 13 17 3 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[2] 13 17 2 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[1] 13 17 1 #SB_DFFSR
set_location this_vga_signals.M_vcounter_q[0] 13 17 0 #SB_DFFSR
set_location this_vga_signals.M_this_sprites_address_q_3_ns_1[13] 19 23 3 #SB_LUT4
set_location this_vga_signals.M_this_sprites_address_q_3_ns_1[12] 15 23 6 #SB_LUT4
set_location this_vga_signals.M_this_sprites_address_q_3_ns_1[11] 14 24 7 #SB_LUT4
set_location this_vga_signals.M_this_sprites_address_q_3_ns[13] 16 23 6 #SB_LUT4
set_location this_vga_signals.M_this_sprites_address_q_3_ns[12] 15 24 7 #SB_LUT4
set_location this_vga_signals.M_this_sprites_address_q_3_ns[11] 15 24 5 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_RNO 9 24 5 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_RNI5GDH2 9 24 6 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_2_RNO 6 21 2 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_2_RNIRAOL5 6 21 4 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_2 6 21 2 #SB_DFF
set_location this_vga_signals.M_pcounter_q_ret_1_RNO 9 24 3 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_1_RNI9C5I1 9 24 1 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_ret_1 9 24 3 #SB_DFF
set_location this_vga_signals.M_pcounter_q_ret 9 24 5 #SB_DFF
set_location this_vga_signals.M_pcounter_q_0_e_RNII2VA2[0] 9 24 2 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_0_e_RNIF77A3[1] 9 23 1 #SB_LUT4
set_location this_vga_signals.M_pcounter_q_0_e[1] 9 23 2 #SB_DFFE
set_location this_vga_signals.M_pcounter_q_0_e[0] 9 23 5 #SB_DFFE
set_location this_vga_signals.M_lcounter_q_RNO[1] 16 18 4 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNO_0[1] 16 18 3 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNO[0] 16 18 2 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNIGRI95[1] 16 18 1 #SB_LUT4
set_location this_vga_signals.M_lcounter_q_RNI6R6E[0] 14 18 1 #SB_LUT4
set_location this_vga_signals.M_lcounter_q[1] 16 18 4 #SB_DFF
set_location this_vga_signals.M_lcounter_q[0] 16 18 2 #SB_DFF
set_location this_vga_signals.M_hcounter_q_esr_RNO[9] 11 23 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNO_0[9] 12 23 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIU8TO[9] 10 24 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIT1827[9] 9 10 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNISQ5DA02[9] 9 18 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIRETSA[9] 9 10 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIN0FTT[9] 10 17 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIMK0K1[9] 16 21 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIMBHF2[9] 11 24 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIHM2SG2[9] 7 10 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIHL0E5[9] 10 16 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIE00C4[9] 11 17 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNICQMCG5[9] 7 18 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNIAPUMSC[9] 7 19 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI704B1[9] 12 22 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021[9] 10 23 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021_2[9] 10 22 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021_1[9] 10 23 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr_RNI3L021_0[9] 10 23 0 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_esr[9] 11 23 0 #SB_DFFESR
set_location this_vga_signals.M_hcounter_q_RNO[8] 11 22 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[7] 11 22 6 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[6] 11 22 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[5] 11 22 4 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[4] 11 22 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[3] 11 22 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[2] 11 22 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[1] 13 21 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNO[0] 14 20 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIIED41[7] 11 24 5 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNICOOCQ[1] 7 19 7 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIC1AR[5] 11 24 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNIBP6I[7] 12 22 3 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNI97PTA[1] 7 20 2 #SB_LUT4
set_location this_vga_signals.M_hcounter_q_RNI8OIBA[3] 9 22 1 #SB_LUT4
set_location this_vga_signals.M_hcounter_q[8] 11 22 7 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[7] 11 22 6 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[6] 11 22 5 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[5] 11 22 4 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[4] 11 22 3 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[3] 11 22 2 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[2] 11 22 1 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[1] 13 21 3 #SB_DFFSR
set_location this_vga_signals.M_hcounter_q[0] 14 20 1 #SB_DFFSR
set_location this_vga_ramdac.M_this_rgb_q_ret_RNO 6 20 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_q_ret 6 20 0 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[5] 6 21 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[4] 6 21 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[3] 6 20 4 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[2] 6 20 3 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[1] 6 20 7 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNO[0] 6 20 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIS3FH[5] 4 22 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIR2FH[4] 3 21 7 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIQ1FH[3] 4 22 2 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIP0FH[2] 5 20 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNIOVEH[1] 5 20 7 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg_RNINUEH[0] 3 20 5 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[5] 6 21 5 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[4] 6 21 0 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[3] 6 20 4 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[2] 6 20 3 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[1] 6 20 7 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_dreg[0] 6 20 6 #SB_DFF
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m6 6 17 2 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m22 6 17 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m2 6 18 0 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m19 6 18 1 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m16 6 18 6 #SB_LUT4
set_location this_vga_ramdac.M_this_rgb_d_3_0_5_0_.m10 6 18 5 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNO 13 22 6 #SB_LUT4
set_location this_start_data_delay.M_last_q_RNIBJQQ 13 22 5 #SB_LUT4
set_location this_start_data_delay.M_last_q 13 22 6 #SB_DFF
set_location this_start_address_delay.out 13 22 2 #SB_LUT4
set_location this_sprites_ram.mem_radreg[13] 21 18 4 #SB_DFF
set_location this_sprites_ram.mem_radreg[12] 21 18 3 #SB_DFF
set_location this_sprites_ram.mem_radreg[11] 21 18 2 #SB_DFF
set_location this_sprites_ram.mem_mem_7_1 25 31 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_7_0_wclke_3 23 24 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_7_0 25 29 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_6_1 25 27 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_6_0_wclke_3 24 24 5 #SB_LUT4
set_location this_sprites_ram.mem_mem_6_0 25 25 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_5_1 25 23 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_5_0_wclke_3 24 21 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_5_0 25 21 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_4_1 25 19 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_4_0_wclke_3 24 18 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_4_0 25 17 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_3_1_RNIDT2Q1_0 21 11 7 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_1_RNIDT2Q1 24 15 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_1 25 15 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_3_0_wclke_3 24 14 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0_RNI9T2Q1_0 22 13 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0_RNI9T2Q1 24 11 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_3_0 25 13 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_2_1_RNI9LUP1_0 22 15 5 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_1_RNI9LUP1 24 10 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_1 25 11 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_2_0_wclke_3 24 14 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0_RNI5LUP1_0 21 14 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0_RNI5LUP1 24 11 5 #SB_LUT4
set_location this_sprites_ram.mem_mem_2_0 25 9 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_1_1_RNIJBQ01_0 21 10 3 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_1_RNIJBQ01 24 15 5 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_1 25 7 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_1_0_wclke_3 24 14 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0_RNIHBQ01_0 22 13 2 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0_RNIHBQ01 24 11 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_1_0 25 5 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_0_1_RNIH7O01_0 23 15 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_1_RNIH7O01 24 10 0 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_1 25 3 0 #SB_RAM40_4K
set_location this_sprites_ram.mem_mem_0_0_wclke_3 22 13 6 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0_RNIF7O01_0 21 15 1 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0_RNIF7O01 24 11 4 #SB_LUT4
set_location this_sprites_ram.mem_mem_0_0 25 1 0 #SB_RAM40_4K
set_location this_reset_cond.M_stage_q_RNO[3] 16 20 3 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[2] 16 20 6 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[1] 16 20 0 #SB_LUT4
set_location this_reset_cond.M_stage_q_RNO[0] 16 20 2 #SB_LUT4
set_location this_reset_cond.M_stage_q[3] 16 20 3 #SB_DFF
set_location this_reset_cond.M_stage_q[2] 16 20 6 #SB_DFF
set_location this_reset_cond.M_stage_q[1] 16 20 0 #SB_DFF
set_location this_reset_cond.M_stage_q[0] 16 20 2 #SB_DFF
set_location this_ppu.sprites_addr_cry_9_c_RNI2SEI 21 18 1 #SB_LUT4
set_location this_ppu.sprites_addr_cry_9_c 21 18 0 #SB_CARRY
set_location this_ppu.sprites_addr_cry_8_c_RNI0PDI 21 18 0 #SB_LUT4
set_location this_ppu.sprites_addr_cry_8_c 21 17 7 #SB_CARRY
set_location this_ppu.sprites_addr_cry_7_c_RNIULCI 21 17 7 #SB_LUT4
set_location this_ppu.sprites_addr_cry_7_c 21 17 6 #SB_CARRY
set_location this_ppu.sprites_addr_cry_6_c_RNISIBI 21 17 6 #SB_LUT4
set_location this_ppu.sprites_addr_cry_6_c 21 17 5 #SB_CARRY
set_location this_ppu.sprites_addr_cry_5_c_RNIJE9D 21 17 5 #SB_LUT4
set_location this_ppu.sprites_addr_cry_5_c 21 17 4 #SB_CARRY
set_location this_ppu.sprites_addr_cry_4_c_RNIHB8D 21 17 4 #SB_LUT4
set_location this_ppu.sprites_addr_cry_4_c 21 17 3 #SB_CARRY
set_location this_ppu.sprites_addr_cry_3_c_RNIF87D 21 17 3 #SB_LUT4
set_location this_ppu.sprites_addr_cry_3_c 21 17 2 #SB_CARRY
set_location this_ppu.sprites_addr_cry_2_c_RNID56D 21 17 2 #SB_LUT4
set_location this_ppu.sprites_addr_cry_2_c 21 17 1 #SB_CARRY
set_location this_ppu.sprites_addr_cry_1_c_RNIB25D 21 17 1 #SB_LUT4
set_location this_ppu.sprites_addr_cry_1_c 21 17 0 #SB_CARRY
set_location this_ppu.sprites_addr_cry_12_c_RNIFFVH 21 18 4 #SB_LUT4
set_location this_ppu.sprites_addr_cry_12_c 21 18 3 #SB_CARRY
set_location this_ppu.sprites_addr_cry_11_c_RNIDCUH 21 18 3 #SB_LUT4
set_location this_ppu.sprites_addr_cry_11_c 21 18 2 #SB_CARRY
set_location this_ppu.sprites_addr_cry_10_c_RNIB9TH 21 18 2 #SB_LUT4
set_location this_ppu.sprites_addr_cry_10_c 21 18 1 #SB_CARRY
set_location this_ppu.line_clk.M_last_q_RNIMT2V4 17 19 2 #SB_LUT4
set_location this_ppu.line_clk.M_last_q_RNI5NOQ4 17 18 3 #SB_LUT4
set_location this_ppu.line_clk.M_last_q_RNI5CEE4 15 18 6 #SB_LUT4
set_location this_ppu.line_clk.M_last_q_RNI2T915 17 19 6 #SB_LUT4
set_location this_ppu.line_clk.M_last_q 14 19 7 #SB_DFF
set_location this_ppu.M_vaddress_q_RNO[6] 19 18 0 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[5] 19 18 6 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[4] 18 18 5 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[3] 19 18 3 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[2] 18 18 7 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[1] 17 18 5 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNO[0] 16 18 5 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNID0D95[2] 18 19 3 #SB_LUT4
set_location this_ppu.M_vaddress_q_RNI87NJ5[4] 19 18 5 #SB_LUT4
set_location this_ppu.M_vaddress_q[6] 19 18 0 #SB_DFF
set_location this_ppu.M_vaddress_q[5] 19 18 6 #SB_DFF
set_location this_ppu.M_vaddress_q[4] 18 18 5 #SB_DFF
set_location this_ppu.M_vaddress_q[3] 19 18 3 #SB_DFF
set_location this_ppu.M_vaddress_q[2] 18 18 7 #SB_DFF
set_location this_ppu.M_vaddress_q[1] 17 18 5 #SB_DFF
set_location this_ppu.M_vaddress_q[0] 16 18 5 #SB_DFF
set_location this_ppu.M_state_q_RNO 19 17 6 #SB_LUT4
set_location this_ppu.M_state_q_RNIDFVT8 15 18 7 #SB_LUT4
set_location this_ppu.M_state_q_RNI84774_0 23 9 3 #SB_LUT4
set_location this_ppu.M_state_q_RNI84774 20 11 3 #SB_LUT4
set_location this_ppu.M_state_q_RNI04774_0 23 10 3 #SB_LUT4
set_location this_ppu.M_state_q_RNI04774 21 13 5 #SB_LUT4
set_location this_ppu.M_state_q 19 17 6 #SB_DFF
set_location this_ppu.M_haddress_q_RNO[6] 18 17 3 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[5] 18 17 5 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[4] 17 17 5 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[3] 18 17 6 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[2] 18 17 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[1] 19 17 2 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO_0[4] 17 17 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNO[0] 19 17 3 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIU60R4[1] 18 17 1 #SB_LUT4
set_location this_ppu.M_haddress_q_RNITAF[6] 17 17 7 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIPF7[1] 20 17 3 #SB_LUT4
set_location this_ppu.M_haddress_q_RNICN3[0] 21 19 4 #SB_LUT4
set_location this_ppu.M_haddress_q_RNIBMBR4[4] 18 17 2 #SB_LUT4
set_location this_ppu.M_haddress_q_RNI9PQ[4] 17 17 0 #SB_LUT4
set_location this_ppu.M_haddress_q[6] 18 17 3 #SB_DFF
set_location this_ppu.M_haddress_q[5] 18 17 5 #SB_DFF
set_location this_ppu.M_haddress_q[4] 17 17 5 #SB_DFF
set_location this_ppu.M_haddress_q[3] 18 17 6 #SB_DFF
set_location this_ppu.M_haddress_q[2] 18 17 4 #SB_DFF
set_location this_ppu.M_haddress_q[1] 19 17 2 #SB_DFF
set_location this_ppu.M_haddress_q[0] 19 17 3 #SB_DFF
set_location this_pixel_clk.M_counter_q_RNO[1] 16 21 6 #SB_LUT4
set_location this_pixel_clk.M_counter_q_RNO[0] 17 21 1 #SB_LUT4
set_location this_pixel_clk.M_counter_q_RNIFKS8[1] 16 21 0 #SB_LUT4
set_location this_pixel_clk.M_counter_q[1] 16 21 6 #SB_DFF
set_location this_pixel_clk.M_counter_q[0] 17 21 1 #SB_DFFSR
set_location this_delay_clk.M_pipe_q[4] 13 22 1 #SB_DFF
set_location this_delay_clk.M_pipe_q[3] 13 22 4 #SB_DFF
set_location this_delay_clk.M_pipe_q[2] 6 21 6 #SB_DFF
set_location this_delay_clk.M_pipe_q[1] 6 20 1 #SB_DFF
set_location this_delay_clk.M_pipe_q[0] 6 20 5 #SB_DFF
set_location port_rw_iobuf_RNIILOC1 16 22 2 #SB_LUT4
set_location port_data_rw_obuf_RNO 1 22 7 #SB_LUT4
set_location port_data_ibuf_RNIM2E53[7] 24 22 7 #SB_LUT4
set_location port_data_ibuf_RNIK0E53[2] 24 23 0 #SB_LUT4
set_location port_data_ibuf_RNIIUD53[1] 24 23 4 #SB_LUT4
set_location port_data_ibuf_RNIGSD53[0] 24 22 5 #SB_LUT4
set_location port_address_iobuf_RNIV8P9[6] 32 22 2 #SB_LUT4
set_location port_address_iobuf_RNI6NG6[2] 32 22 1 #SB_LUT4
set_location M_this_state_q_RNO[7] 22 22 0 #SB_LUT4
set_location M_this_state_q_RNO[6] 18 23 1 #SB_LUT4
set_location M_this_state_q_RNO[5] 18 22 0 #SB_LUT4
set_location M_this_state_q_RNO_4[4] 16 22 4 #SB_LUT4
set_location M_this_state_q_RNO[4] 14 22 2 #SB_LUT4
set_location M_this_state_q_RNO_3[4] 14 22 3 #SB_LUT4
set_location M_this_state_q_RNO_2[4] 14 22 1 #SB_LUT4
set_location M_this_state_q_RNO[2] 16 22 0 #SB_LUT4
set_location M_this_state_q_RNO_1[4] 16 22 5 #SB_LUT4
set_location M_this_state_q_RNO[1] 18 23 6 #SB_LUT4
set_location M_this_state_q_RNO_0[7] 18 22 3 #SB_LUT4
set_location M_this_state_q_RNO_0[6] 18 22 5 #SB_LUT4
set_location M_this_state_q_RNO_0[5] 18 22 7 #SB_LUT4
set_location M_this_state_q_RNO_0[4] 14 22 6 #SB_LUT4
set_location M_this_state_q_RNO_0[2] 14 23 6 #SB_LUT4
set_location M_this_state_q_RNO_0[1] 18 23 5 #SB_LUT4
set_location M_this_state_q_RNIVD0L[6] 18 23 3 #SB_LUT4
set_location M_this_state_q_RNIQ80L[2] 13 23 4 #SB_LUT4
set_location M_this_state_q_RNIQ80L_0[2] 14 23 1 #SB_LUT4
set_location M_this_state_q_RNIDVQ81[7] 23 22 1 #SB_LUT4
set_location M_this_state_q_RNIB2RF1[3] 22 22 3 #SB_LUT4
set_location M_this_state_q_RNI9MQ11[2] 24 22 4 #SB_LUT4
set_location M_this_state_q_RNI95RM1[4] 16 22 6 #SB_LUT4
set_location M_this_state_q_RNI20CE[0] 16 24 1 #SB_LUT4
set_location M_this_state_q_RNI1B0E[7] 23 22 2 #SB_LUT4
set_location M_this_state_q[7] 22 22 0 #SB_DFF
set_location M_this_state_q[6] 18 23 1 #SB_DFF
set_location M_this_state_q[5] 18 22 0 #SB_DFF
set_location M_this_state_q[4] 14 22 2 #SB_DFF
set_location M_this_state_q[3] 20 23 6 #SB_DFFSR
set_location M_this_state_q[2] 16 22 0 #SB_DFF
set_location M_this_state_q[1] 18 23 6 #SB_DFF
set_location M_this_state_q[0] 16 21 3 #SB_DFF
set_location M_this_sprites_address_q_RNO[9] 16 23 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO[8] 15 24 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO[7] 15 21 5 #SB_LUT4
set_location M_this_sprites_address_q_RNO[6] 16 23 7 #SB_LUT4
set_location M_this_sprites_address_q_RNO[5] 15 21 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO[4] 15 21 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO[3] 20 23 5 #SB_LUT4
set_location M_this_sprites_address_q_RNO[2] 16 23 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[9] 15 23 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[8] 15 23 0 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[7] 15 22 7 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[6] 15 22 6 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[5] 15 22 5 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[4] 15 22 4 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[3] 15 22 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[2] 15 22 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[10] 15 23 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[1] 15 22 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO_1[0] 15 22 0 #SB_LUT4
set_location M_this_sprites_address_q_RNO[10] 20 23 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO[1] 15 25 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[9] 16 24 5 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[8] 15 24 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[7] 15 21 4 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[6] 16 22 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[5] 14 21 0 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[4] 14 21 2 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[3] 20 23 4 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[2] 19 24 1 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[10] 20 22 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[1] 16 25 6 #SB_LUT4
set_location M_this_sprites_address_q_RNO_0[0] 17 22 3 #SB_LUT4
set_location M_this_sprites_address_q_RNO[0] 17 21 0 #SB_LUT4
set_location M_this_sprites_address_q[9] 16 23 3 #SB_DFFSR
set_location M_this_sprites_address_q[8] 15 24 3 #SB_DFFSR
set_location M_this_sprites_address_q[7] 15 21 5 #SB_DFFSR
set_location M_this_sprites_address_q[6] 16 23 7 #SB_DFFSR
set_location M_this_sprites_address_q[5] 15 21 2 #SB_DFFSR
set_location M_this_sprites_address_q[4] 15 21 3 #SB_DFFSR
set_location M_this_sprites_address_q[3] 20 23 5 #SB_DFFSR
set_location M_this_sprites_address_q[2] 16 23 1 #SB_DFFSR
set_location M_this_sprites_address_q[13] 16 23 6 #SB_DFFSR
set_location M_this_sprites_address_q[12] 15 24 7 #SB_DFFSR
set_location M_this_sprites_address_q[11] 15 24 5 #SB_DFFSR
set_location M_this_sprites_address_q[10] 20 23 1 #SB_DFFSR
set_location M_this_sprites_address_q[1] 15 25 2 #SB_DFFSR
set_location M_this_sprites_address_q[0] 17 21 0 #SB_DFFSR
set_location M_this_external_address_q_RNO[9] 30 24 1 #SB_LUT4
set_location M_this_external_address_q_RNO[8] 30 24 0 #SB_LUT4
set_location M_this_external_address_q_RNO[7] 30 23 7 #SB_LUT4
set_location M_this_external_address_q_RNO[6] 30 23 6 #SB_LUT4
set_location M_this_external_address_q_RNO[5] 30 23 5 #SB_LUT4
set_location M_this_external_address_q_RNO[4] 30 23 4 #SB_LUT4
set_location M_this_external_address_q_RNO[3] 30 23 3 #SB_LUT4
set_location M_this_external_address_q_RNO[2] 30 23 2 #SB_LUT4
set_location M_this_external_address_q_RNO[15] 30 24 7 #SB_LUT4
set_location M_this_external_address_q_RNO[14] 30 24 6 #SB_LUT4
set_location M_this_external_address_q_RNO[13] 30 24 5 #SB_LUT4
set_location M_this_external_address_q_RNO[12] 30 24 4 #SB_LUT4
set_location M_this_external_address_q_RNO[11] 30 24 3 #SB_LUT4
set_location M_this_external_address_q_RNO[10] 30 24 2 #SB_LUT4
set_location M_this_external_address_q_RNO[1] 30 23 1 #SB_LUT4
set_location M_this_external_address_q_RNO[0] 30 23 0 #SB_LUT4
set_location M_this_external_address_q[9] 30 24 1 #SB_DFFSR
set_location M_this_external_address_q[8] 30 24 0 #SB_DFFSR
set_location M_this_external_address_q[7] 30 23 7 #SB_DFFSR
set_location M_this_external_address_q[6] 30 23 6 #SB_DFFSR
set_location M_this_external_address_q[5] 30 23 5 #SB_DFFSR
set_location M_this_external_address_q[4] 30 23 4 #SB_DFFSR
set_location M_this_external_address_q[3] 30 23 3 #SB_DFFSR
set_location M_this_external_address_q[2] 30 23 2 #SB_DFFSR
set_location M_this_external_address_q[15] 30 24 7 #SB_DFFSR
set_location M_this_external_address_q[14] 30 24 6 #SB_DFFSR
set_location M_this_external_address_q[13] 30 24 5 #SB_DFFSR
set_location M_this_external_address_q[12] 30 24 4 #SB_DFFSR
set_location M_this_external_address_q[11] 30 24 3 #SB_DFFSR
set_location M_this_external_address_q[10] 30 24 2 #SB_DFFSR
set_location M_this_external_address_q[1] 30 23 1 #SB_DFFSR
set_location M_this_external_address_q[0] 30 23 0 #SB_DFFSR
set_location M_this_data_count_q_RNO[9] 17 24 1 #SB_LUT4
set_location M_this_data_count_q_RNO[8] 17 24 0 #SB_LUT4
set_location M_this_data_count_q_RNO[7] 17 23 7 #SB_LUT4
set_location M_this_data_count_q_RNO[6] 17 23 6 #SB_LUT4
set_location M_this_data_count_q_RNO[5] 17 23 5 #SB_LUT4
set_location M_this_data_count_q_RNO[4] 17 23 4 #SB_LUT4
set_location M_this_data_count_q_RNO[3] 17 23 3 #SB_LUT4
set_location M_this_data_count_q_RNO[2] 17 23 2 #SB_LUT4
set_location M_this_data_count_q_RNO[13] 17 25 0 #SB_LUT4
set_location M_this_data_count_q_RNO[12] 17 24 4 #SB_LUT4
set_location M_this_data_count_q_RNO[11] 17 24 3 #SB_LUT4
set_location M_this_data_count_q_RNO[10] 17 24 2 #SB_LUT4
set_location M_this_data_count_q_RNO[1] 17 23 1 #SB_LUT4
set_location M_this_data_count_q_RNO[0] 17 23 0 #SB_LUT4
set_location M_this_data_count_q_RNIEOD9[13] 17 22 7 #SB_LUT4
set_location M_this_data_count_q_RNIDFF62[10] 17 22 5 #SB_LUT4
set_location M_this_data_count_q_RNIBTAK[10] 17 22 1 #SB_LUT4
set_location M_this_data_count_q_RNIAVRI[11] 17 22 4 #SB_LUT4
set_location M_this_data_count_q_RNIAQQL[4] 17 22 6 #SB_LUT4
set_location M_this_data_count_q[9] 17 24 1 #SB_DFFSR
set_location M_this_data_count_q[8] 17 24 0 #SB_DFFSR
set_location M_this_data_count_q[7] 17 23 7 #SB_DFFSR
set_location M_this_data_count_q[6] 17 23 6 #SB_DFFSR
set_location M_this_data_count_q[5] 17 23 5 #SB_DFFSR
set_location M_this_data_count_q[4] 17 23 4 #SB_DFFSR
set_location M_this_data_count_q[3] 17 23 3 #SB_DFFSR
set_location M_this_data_count_q[2] 17 23 2 #SB_DFFSR
set_location M_this_data_count_q[13] 17 25 0 #SB_DFFSR
set_location M_this_data_count_q[12] 17 24 4 #SB_DFFSR
set_location M_this_data_count_q[11] 17 24 3 #SB_DFFSR
set_location M_this_data_count_q[10] 17 24 2 #SB_DFFSR
set_location M_this_data_count_q[1] 17 23 1 #SB_DFFSR
set_location M_this_data_count_q[0] 17 23 0 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_io vsync A3
set_io vblank A4
set_io rst_n P8
set_io rgb[5] D3
set_io rgb[4] C1
set_io rgb[3] E1
set_io rgb[2] G1
set_io rgb[1] J1
set_io rgb[0] M1
set_io port_rw F4
set_io port_nmib K3
set_io port_enb H1
set_io port_dmab N1
set_io port_data_rw D4
set_io port_data[7] H11
set_io port_data[6] G12
set_io port_data[5] F11
set_io port_data[4] D12
set_io port_data[3] C12
set_io port_data[2] D10
set_io port_data[1] D7
set_io port_data[0] C7
set_io port_clk H4
set_io port_address[9] A10
set_io port_address[8] A6
set_io port_address[7] J12
set_io port_address[6] G14
set_io port_address[5] E12
set_io port_address[4] D14
set_io port_address[3] B14
set_io port_address[2] C10
set_io port_address[15] H12
set_io port_address[14] F14
set_io port_address[13] E14
set_io port_address[12] C14
set_io port_address[11] A12
set_io port_address[10] C9
set_io port_address[1] A11
set_io port_address[0] A7
set_io hsync A1
set_io hblank A2
set_io debug[1] L6
set_io debug[0] P4
set_io clk P7
